<h1>Add a new Word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <input id="word_name" name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-outline-dark">Create</button>
</form>
