<div class="jumbotron">
  <h1>Words for Kids</h1>
  <p>Learning is fun!</p>
</div>

<h3>Your Words</h3>
<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You currently have no words.</p>
<% end %>

<a href="/words/new">Add a New Word</a>

<h3>Find a Word</h3>
<form action="/words" method="get">
  <div class="form-group">
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-outline-dark">Find</button>
</form>
